*{
    margin: 0;
    padding: 0;
}
.genre-section
{
    text-align: center;
    padding-bottom: 3em;
}
#genreTitle
{
    padding: 1em;
}
.genre-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.pelicula
{
    text-align: center;
}
.pelicula img
{
    width: 14em;
    height: 20em;
}
